body {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 1.7;
  color: $color-black;
}

.heading-primary__text {
  color: $color-white;
  text-transform: uppercase;

  backface-visibility: hidden;

  &--main {
    display: block;
    font-size: 6rem;
    font-weight: 400;
    letter-spacing: 3.2rem;
    padding-left: 3.2rem;

    animation-name: moveInTop;
    animation-duration: 5s;
    animation-timing-function: ease-in;
    /*animation-delay: 3s;*/
    /*animation-iteration-count: 3;*/

    @include respond(phone) {
      letter-spacing: 1rem;
      font-size: 5.5rem;
    }
  }

  &--sub {
    display: block;
    font-size: 2rem;
    font-weight: 400;
    letter-spacing: .9rem;
    padding-left: 0.8rem;

    animation-name: moveInBottom;
    animation-duration: 5s;
    animation-timing-function: ease-in;

    @include respond(phone) {
      letter-spacing: .5rem;
    }
  }
}

.heading-secondary {
  font-size: 3.5rem;
  text-transform: uppercase;
  font-weight: 700;
  display: inline-block;
  background-image: linear-gradient(to bottom, $color-primary, $color-primary);
  -webkit-background-clip: text;
  color: transparent;
  letter-spacing: 2px;
  transition: all .3s;

  @include respond(tab-port) {
    font-size: 2rem;
    letter-spacing: 1px;
    padding: 0 3rem;
  }

  @include respond(phone) {
    font-size: 2rem;
    letter-spacing: 1px;
  }

  &:hover {
    transform: skewY(-7deg) skewX(-14deg);
    //transform: scaleX(99%);

    text-shadow: .5rem 1rem 2rem rgba($color-black, .2);
  }

  &--bg {
    background: $color-primary;
    padding: 1rem 1.5rem;
    z-index: 20;
    color: $color-white;
  }
}

.heading-tertiary {
  font-size: 1.6rem;
  font-weight: 700;
  text-transform: uppercase;
}

.paragraph {
  font-size: 1.6rem;

  &:not(:last-child) {
    margin-bottom: 3rem;
  }
}
