.u-center-text {
  text-align: center !important;
}

.u-margin-bottom-0 {margin-bottom: 0 !important;
  @include respond(tab-port) {
    margin-bottom: 3rem !important;
  }
}

.u-margin-bottom-small {margin-bottom: 1.5rem !important;}
.u-margin-bottom-small-1 {margin-bottom: 3.8rem !important;}
.u-margin-bottom-medium {margin-bottom: 4rem !important;

  @include respond(tab-port) {
    margin-bottom: 3rem !important;
  }
}

.u-margin-bottom-big {margin-bottom: 8rem !important;

  @include respond(tab-port) {
    margin-bottom: 5rem !important;
  }
}

.u-margin-bottom-huge {margin-bottom: 10rem !important;}

.u-margin-top-0 {margin-top: 0 !important;

  @include respond(tab-port) {
    margin-top: 6rem !important;
  }

  @include respond(phone) {
    margin-top: 7rem !important;
  }
}

.u-margin-top-big {margin-top: 8rem !important;
}
.u-margin-top-huge {margin-top: 10rem !important;}
